@import "./var.less";
html{
  color:@words;
  font-family: "-apple-system","BlinkMacSystemFont","Roboto","Helvetica Neue",
     "微软雅黑",Sans-serif;
  overflow: hidden;
}
body{
  overflow: hidden;
  margin: 0;
}
a{
  text-decoration: None;
  color:inherit;
  &:hover{
    color:@primary;
  }
}